{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Homepage </title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <div class="navbar">
            <!-- Zephyr logo -->
            <div class="left">
                <img class="logo" src="{% static 'LOGO.png' %}" alt="Zephyr logo">
            </div>
            <!-- menu buttons -->
            <div class="right">
                <a href="#Home">HOME</a>
                <a href="#About">ABOUT</a>
                <a href="#Responsibilities">RESPONSIBILITIES</a>
                <a href="Incentives">INCENTIVES</a>
                <a href="FAQ">FAQ</a>
            </div>
        </div>
        <div id="left"></div>
        <div id="right">
        <form method="POST" class="post-form">  
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit" class="save btn btn-default">Save</button>  
        </form> 
    </div>
    </body>
</html>
<div class="central-content">
    <img id="hero-img" src="{% static 'Success page image.png' %}">
    <div id="hero-content">
        <p>REGISTERED SUCCESSFULLY!</p>
    </div>
</div>
<div class="content">
    <!-- illustration -->
    
    <!-- text -->
    <div class="right">
        <!-- Welcome text -->
        <!-- social media links -->
        <div class="box4">
            <p>Connect with us</p>
            <div class="social">
                <img class="insta" src="{% static 'Ig.png' %}" alt="Instagram">
                <img class="fb" src="{% static 'Fb.png' %}" alt="Facebook">
            </div>
            
        </div>
    </div>
</div>
.central-content
        {
            height: 79vh;
            /* background-color: aqua; */
            margin-top: -10vh;
            width: 80vw;
            margin-left: 10vw;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }
        #hero-img
        {
            height: 95%;
            width: 70%;
        }
        #hero-content
        {
            margin-top: -5vh;
        }
        <div class="content">
            <!-- illustration -->
            <div class="left">
                <img class="illustration" src="{% static 'CA Homepage image.png' %}" alt="illustration">
            </div>
            <!-- text -->
            <div class="right">
                <!-- Welcome text -->
                <div class="box1">Welcome to Zephyr's</div>
                <!-- CA title -->
                <div class="box2">
                    <p>CAMPUS</p>
                    <p>AMBASSADOR</p>
                    <p>PROGRAM</p>
                </div>
                <!-- Register button -->
                <div class="box3">
                    <a href="/zephyr/register">REGISTER</a>
                </div>
                <!-- social media links -->
                <div class="box4">
                    <p>Connect with us</p>
                    <div class="social">
                        <img class="insta" src="{% static 'Ig.png' %}" alt="Instagram">
                        <img class="fb" src="{% static 'Fb.png' %}" alt="Facebook">
                    </div>
                    
                </div>
            </div>
        </div>