<!DOCTYPE html>
<html>
    <head>
        <title>Button</title>
        <style>
            #button-panel
            {
                width: 40vh;
                margin-left: 60vw;
            }
            .right-button
            {
                font-size: 2rem;
                color: white;
                background-color: blueviolet;
                height: 20vh;
                width: 30vw;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <div id="button-panel">
            <div class="right-button">
                COMPETITIONS
            </div>
            <div class="right-button">
                COMPETITIONS
            </div>
            <div class="right-button">
                COMPETITIONS
            </div>
        </div>
    </body>
</html>