{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'homepage.css' %}">
    </head>
    <body>
        <div id="navbar">

        </div>
        <div id="hero">
        <img id="homepageimg"src="{% static 'CA Homepage image.png' %}" width="45%" height="65%">
        <div id="content">
            <p>Welcome to Zephyr's</p>
            <p>CAMPUS</p>
            <p>AMBASSADOR</p>
            <p>PROGRAM</p>
            <button id="register-btn">Register</button>
        </div>
        </div>
        <div id="social-media">
            Connect with us
        </div>
    </body>
</html>